.content-film {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.content-film__img {
    width: calc((100% - 28px) / 2);
    display: flex;
    justify-content: center;
}

.content-film__img img {
    width: 100%;
    display: block;
    max-width: 450px;
}

.content-film__info {
    width: calc((100% - 28px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.content-film__info__title {
    display: flex;
    gap: 4px;
    margin-bottom: 3px;
    flex-wrap: wrap;
}

.content-film__info__content>*:last-child {
    margin-bottom: 0;
}

.content-film__info__title h1, .content-film__info__title p {
    color: rgb(0, 0, 0);
    font-family: Inter, sans-serif;
    font-size: 24px;
    line-height: 29px;
}

.content-film__info__title h1 {
    font-weight: 700;
    margin: 0;
}

.content-film__info__title p {
    font-weight: 400;
    margin: 0;
}

.content-film__info__description {
    color: rgba(134, 134, 134, 1);
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 2px;
    gap: 5px;
    flex-wrap: wrap;
}

.content-film__info__rating {
    color: rgba(4, 163, 30, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 29px;
}

.content-film__info__text {
    color: rgba(0, 0, 0, 1);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 18px;
}

.content-film__info__controls button {
    color: rgba(255, 255, 255, 1);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 16px 98px;
    border-radius: 5px;
    background: rgba(255, 73, 73);
    border: none;
    outline: none;
    cursor: pointer;
}

@media (max-width: 991px) {
    .content-film {
        flex-direction: column;
    }

    .content-film__img {
        width: 100%;
    }

    .content-film__info {
        width: 100%;
    }
}